<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Terax </title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/enter1.css"></link>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>

</head>
  <body>

   <div class="login" action = "/dologin" method = 'POST'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-0">
    <div class = "container">
    <a class="navbar-brand display" href="/">Terax</a>
    <div class="logo">
          <img src="../static/logo.png">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#header">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link calendario" href="/calendar">Calendario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link profesores_cursos" href="#sidebar">Profesores</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>


<div class="sidebar">
	<h2>Cursos</h2>
	<ul>
		<li><a href="/matematicas">Matematicas</a></li>
		<li><a href="">Fisica</a></li>
		<li><a href="">Quimica</a></li>
		<li><a href="">Geografia</a></li>
		<li><a href="">Historia</a></li>
		<li><a href="">Ingles</a></li>
		<li><a href="">Lenguaje</a></li>
		<li><a href="">Termodinamica</a></li>
		<li><a href="">Electronica</a></li>
		<li><a href="">Programacion</a></li>
		<li><a href="">Estatica</a></li>
		<li><a href="">Dinamica</a></li>
	</ul>

</div>
<div class="contenido">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link text-dark"  type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Matematicas
            <div value ="mate-inline" class="logo1 mt-3 mb-2">
                    <img src="/static/matematicas.png">
              </div>
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Las matemáticas o la matemática1 (del latín mathematica, y este del griego μαθηματικά, derivado de μάθημα, ‘conocimiento’) es una ciencia formal que, partiendo de axiomas y siguiendo el razonamiento lógico, estudia las propiedades y
           relaciones entre entidades abstractas como números, figuras geométricas o símbolos.
            <div>
            <a href="https://www.ematematicas.net/" target="_blank" class="badge badge-primary">Click Aqui!</a>
          </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Fisica
            <div name ="fisica" class="logo1 mt-3 mb-2">
                   <img src="/static/fisica.png">
             </div>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          La física es la ciencia natural que se encarga del estudio de la energía, la materia, el tiempo y el espacio, así como las interacciones de estos cuatro conceptos entre sí. El término proviene del lat. physica, y este del gr. τὰ φυσικά, neutro plural de φυσικός, 'natural, relativo a la naturaleza'.

          La física es una de las más antiguas disciplinas académicas, tal vez la más antigua, ya que la astronomía es una de sus subdisciplinas. En los últimos dos milenios, la física fue considerada parte de lo que ahora llamamos filosofía, química, y ciertas ramas de la matemática y la biología, pero durante la Revolución Científica en el siglo XVII surgió para convertirse en una ciencia moderna, única por derecho propio. Sin embargo, en algunas esferas como la física matemática y la química cuántica, los límites de la física siguen siendo difíciles de distinguir.
          <div>
          <a href="http://www.areaciencias.com/ejercicios-fisica.htm" target="_blank" class="badge badge-primary">Click Aqui!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Quimica
            <div name="quimica" class="logo1 mt-3 mb-2">
                   <img src="/static/quimica.png">
             </div>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          La química es la ciencia que estudia tanto la composición, como la estructura y las propiedades de la materia como los cambios que esta experimenta durante las reacciones químicas y su relación con la energía. Linus Pauling la define como la ciencia que estudia las sustancias, su estructura (tipos y formas de acomodo de los átomos), sus propiedades y las reacciones que las transforman en otras sustancias en referencia con el tiempo.
          La química moderna se desarrolló a partir de la alquimia, una práctica protocientífica de carácter filosófico, que combinaba elementos de la química, la metalurgia, la física, la medicina, la biología, entre otras ciencias y artes. Esta fase termina al ocurrir la llamada Revolución de la química, basada en la ley de conservación de la materia y la teoría de la combustión por oxígeno postuladas por el científico francés Antoine Lavoisier.
          <div>
          <a href="http://www.areaciencias.com/ejercicios-quimica.htm" target="_blank" class="badge badge-primary">Click Aqui!</a>
          </div>
         </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Geografia
            <div name="geo" class="logo1 mt-3 mb-2">
                   <img src="/static/geografia.png">
             </div>
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
      La geografía (del latín geographĭa, y este del griego γεωγραφία [geōgraphía],1​ literalmente traducido como «descripción de la tierra») es la disciplina que trata de la descripción o de la representación gráfica de la Tierra.​
      En sentido amplio es la ciencia que estudia la superficie terrestre, las sociedades que la habitan y los territorios, paisajes, lugares o regiones que la forman al relacionarse entre sí.
<div>
      <a href="http://www.peruinformation.org/geografia" target="_blank" class="badge badge-primary">Click Aqui!</a>
   </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Historia
            <div name="hist"class="logo1 mt-3 mb-2">
                    <img src="/static/historia.png">
              </div>
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
            La historia es la ciencia que tiene como objeto el estudio de sucesos del pasado, tradicionalmente de la humanidad1​, y como método el propio de las Ciencias Sociales/Humanas, así como el de las Ciencias Naturales en un marco de interdisciplinariedad.2​ Siendo la disciplina que estudia y narra cronológicamente los acontecimientos pasados. Se denomina también «historia» al periodo que transcurre desde la aparición de la escritura hasta la actualidad, aunque es un convencionalismo ampliamente superado en la actualidad, considerando a la prehistoria también como parte intrínseca de la historia.
          <div>
            <a href="http://www.curiosfera.com/historia-de-peru/" target="_blank" class="badge badge-primary">Click Aqui!</a>
        </div>
      </div>
    </div><div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Ingles
            <div name="ingles" class="logo1 mt-3 mb-2">
                    <img src="/static/ingles.png">
              </div>
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          El idioma inglés (English [ˈɪŋɡlɪʃ] o English language) es una lengua germánica occidental que surgió en los reinos anglosajones de Inglaterra y se extendió hasta el Norte en lo que se convertiría en el sudeste de Escocia, bajo la influencia del Reino de Northumbria.

          El inglés es el tercer idioma nativo más extendido en el mundo, después del chino mandarín y el español. Es el segundo idioma más aprendido y es el idioma oficial o uno de los idiomas oficiales en casi 60 estados soberanos
          <div>
        <a href="https://www.curso-ingles.com/aprender/primeros-pasos" target="_blank" class="badge badge-primary">Click Aqui!</a>
        </div>
    </div>
      </div>
    </div><div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
           Lenguaje
           <div class="logo1 mt-3 mb-2">
                   <img src="/static/lenguaje.png">
             </div>
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body">
          Un lenguaje (del provenzal lenguatge1​ y del latín lingua) es un sistema de comunicación estructurado para el que existe un contexto de uso y ciertos principios combinatorios formales. Existen contextos tanto naturales como artificiales.

          Desde un punto de vista más amplio, el lenguaje indica una característica común a los humanos y a otros animales (animales no simbólicos) para expresar sus experiencias y comunicarlas a otros mediante el uso de símbolos, señales y sonidos registrados por los órganos de los sentidos. Los seres humanos desarrollan un lenguaje complejo que se expresa con secuencias sonoras y signos gráficos. Por su parte, los animales desarrollan una comunicación a través de signos sonoros, olfativos y corporales que en muchos casos distan de ser sencillos.        </div>
      </div>
    </div><div class="card">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            Termodinamica
            <div name="termo" class="logo1 mt-3 mb-2">
                   <img src="/static/termodinamica.png">
             </div>
          </button>
        </h5>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
        <div class="card-body">
          La termodinámica es la rama de la física que describe los estados de equilibrio termodinámico a nivel macroscópico. El Diccionario de la lengua española de la Real Academia, por su parte, define la termodinámica como la rama de la física encargada del estudio de la interacción entre el calor y otras manifestaciones de la energía.1​ Constituye una teoría fenomenológica, a partir de razonamientos deductivos, que estudia sistemas reales, sin modelizar y sigue un método experimental.2​ Los estados de equilibrio se estudian y definen por medio de magnitudes extensivas tales como la energía interna, la entropía, el volumen o la composición molar del sistema,​ o por medio de magnitudes no-extensivas derivadas de las anteriores como la temperatura, presión y el potencial químico; otras magnitudes, tales como la imanación, la fuerza electromotriz y las asociadas con la mecánica de los medios continuos en general también pueden tratarse por medio de la termodinámica.
          <div>
          <a href="http://depa.fquim.unam.mx/termofisica/silvia/PARAAPRENDER.htm" target="_blank" class="badge badge-primary">Click Aqui!</a>
          </div>
       </div>
      </div>
    </div><div class="card">
      <div class="card-header" id="headingNine">
        <h5 class="mb-0">
          <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            Estatica
            <div name="estatica"class="logo1 mt-3 mb-2">
                    <img src="/static/estatica.png">
              </div>
          </button>
        </h5>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
        <div class="card-body">
          La estática es la rama de la mecánica clásica que analiza las cargas (fuerza, par / momento) y estudia el equilibrio de fuerzas en los sistemas físicos en equilibrio estático, es decir, en un estado en el que las posiciones relativas de los subsistemas no varían con el tiempo. La primera ley de Newton implica que la fuerza neta y el par neto (también conocido como momento de fuerza) de cada organismo en el sistema es igual a cero. De esta limitación pueden derivarse cantidades como la carga o la presión. La red de fuerzas de igual a cero se conoce como la primera condición de equilibrio, y el par neto igual a cero se conoce como la segunda condición de equilibrio. Un cuerpo esta en reposo cuando su velocidad es igual a cero y esta en equilibrio cuando la aceleración es igual a cero

          <div>
          <a href="http://www.telesforozabala.es/mediapool/83/836590/data/ProblemasResueltosEstatica.pdf" target="_blank" class="badge badge-primary">Click Aqui!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTen">
      <h5 class="mb-0">
        <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
         Dinamica
         <div name="dinamica"class="logo1 mt-3 mb-2">
                <img src="/static/dinamica.png">
          </div>
        </button>
      </h5>
    </div>
    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
      <div class="card-body">
        La dinámica es la rama de la física que describe la evolución en el tiempo de un sistema físico en relación con los motivos o causas que provocan los cambios de estado físico y/o estado de movimiento. El objetivo de la dinámica es describir los factores capaces de producir alteraciones de un sistema físico, cuantificarlos y plantear ecuaciones de movimiento o ecuaciones de evolución para dicho sistema de operación. El estudio de la dinámica es prominente en los sistemas mecánicos; pero también en la termodinámica y electrodinámica. En este artículo se describen los aspectos principales de la dinámica en sistemas mecánicos, y se reserva para otros artículos el estudio de la dinámica en sistemas no mecánicos,trabajo y energía
        <div>
        <a href="https://web.ua.es/es/cursos-cero/documentos/-gestadm/dinamica-ejercicios.pdf" target="_blank" class="badge badge-primary">Click Aqui!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingEleven">
      <h5 class="mb-0">
        <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
         Electronica <div name="elect"class="logo1 mt-3 mb-2">
                 <img src="/static/electronica.png">
           </div>
        </button>
      </h5>
    </div>
    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
      <div class="card-body">
        La electrónica es la rama de la física y especialización de la ingeniería, que estudia y emplea sistemas cuyo funcionamiento se basa en la conducción y el control del flujo de los electrones u otras partículas cargadas eléctricamente.

        Utiliza una gran variedad de conocimientos, materiales y dispositivos, desde los semiconductores hasta las válvulas termoiónicas. El diseño y la gran construcción de circuitos electrónicos para resolver problemas prácticos forman parte de la electrónica y de los campos de la ingeniería electrónica, electromecánica y la informática en el diseño de software para su control.
        <div>
        <a href="http://www.areatecnologia.com/ejercicios-electronica.htm" target="_blank" class="badge badge-primary">Click Aqui!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwuelve">
      <h5 class="mb-0">
        <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseTwuelve" aria-expanded="false" aria-controls="collapseTwuelve">
          Programacion
          <div name="progra" class="logo1 mt-3 mb-2">
                  <img src="/static/programacion.png">
            </div>
        </button>
      </h5>
    </div>
    <div id="collapseTwuelve" class="collapse" aria-labelledby="headingTwuelve" data-parent="#accordionExample">
      <div class="card-body">
      La programación informática o programación algorítmica, acortada como programación, es el proceso de diseñar, codificar, depurar y mantener el código fuente de programas de computadora. El código fuente es escrito en un lenguaje de programación. El propósito de la programación es crear programas que exhiban un comportamiento deseado. El proceso de escribir códigos requiere frecuentemente conocimientos en varias áreas distintas, además del dominio del lenguaje a utilizar, algoritmos especializados y lógica formal. Programar no involucra necesariamente otras tareas tales como el análisis y diseño de la aplicación (pero sí el diseño del código), aunque sí suelen estar fusionadas en el desarrollo de pequeñas aplicaciones.
      <div>
      <a href="https://projecteuler.net/archives" target="_blank" class="badge badge-primary">Click Aqui!</a>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
$('.profesores_cursos').on('click', function(){
	$('.contenido').toggleClass('abrir');
					});

</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


	</body>
	</html>
