<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="/static/next_profesor.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>@import url('https://fonts.googleapis.com/css?family=Quicksand:700');</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css"/>

    </head>

      <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top mb-0">
      <div class = "container">
      <a class="navbar-brand text-white" href="/">Terax</a>
      <div class="logo">
            <img src="/static/logo.png">
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="/">Menu principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/opciones_de_ingreso">Entrar</a>
          </li>
        </ul>
      </div>
      </div>
      </nav>
<body>
 <form action="/doregister_parte2_profesores" method="POST" class="needs-validation" novalidate >
<section id="registro2" class="registro2">
  <div class="box">
    <h1>Profesor@s</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="registro-content-right">

              <table class="text-white">
                  <tr>
                      <td>
                        Seleccione su documento de identidad:
                        <select class="dni js-example-basic-single mt-2 mb-2" name="dni">
                        <option value="" disabled selected hidden>Opciones: </option>
                        <option value="dni">Dni</option>
                        <option value="carnet">Carnet de extranjeria o Pasaporte</option>
                        <label for="validationCustom01"></label>
                        <input name = "dniinput" type = "text" placeholder="1234567890"  class="form-control" id="validationCustom01" value="" required>
                        <div class="invalid-feedback mb-5">
                          Por favor, ponga su Documento de identidad.
                          </div>
                      </select>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <label for="validationCustom02">Años de experiencia (o meses): </label>
                          <input type = "text" name="experiencia" class="form-control" id="validationCustom02" placeholder="1234567890" value="" required>
                          <div class="invalid-feedback mb-5">
                            Por favor, ponga la cantidad de años trabajado (si no tiene experiencia poner "0").
                            </div>
                      </td>
                  </tr>

              </table>

              <tr>
                  <td>
                  <label for="validationCustom05">Direccion: </label>
                   <input type = "text" name="direccion" class ="ciudad form-control"  id="validationCustom05" placeholder="Av/Jr/Lt/Psje/Dpto" value="" required>
                   <div class="invalid-feedback">
                     Por favor, ponga su direccion completa.
                     </div>
                  </td>
              </tr>
          

      </div>
        </div>
        <div class="col-md-5">
          <div class="registro-content-left">

    <div class="row">
      <div class="col- ml-3 mr-4">
        Matematicas  <div value ="mate" class="logo1">
                <img src="/static/matematicas.png">
          </div>
      </div>
      <div class="col- ml-3 mr-4">
        Fisica  <div name ="fisica" class="logo1">
                <img src="/static/fisica.png">
          </div>
      </div>
      <div class="col- ml-3 mr-4">
        Quimica  <div name="quimica" class="logo1">
                <img src="/static/quimica.png">
          </div>
      </div>
       <div class="col- ml-3 mr-4">
         Geografia  <div name="geo" class="logo1">
                 <img src="/static/geografia.png">
           </div>
         </div>
        <div class="w-100 mt-3 mb-3"></div>
        <div class="col- ml-2 mr-3">
          Historia  <div name="hist"class="logo1 mr-4">
                  <img src="/static/historia.png">
            </div>
        </div>
        <div class="col- ml-2 mr-2">
          Ingles  <div name="ingles" class="logo1">
                  <img src="/static/ingles.png">
            </div>
        </div>
        <div class="col- ml-3 mr-4">
          Lenguaje  <div class="logo1">
                  <img src="/static/lenguaje.png">
            </div>
        </div>
        <div class="col- ml-2 mr-2">
          Termodinamica  <div name="termo" class="logo1">
                  <img src="/static/termodinamica.png">
            </div>
        </div>
         <div class="w-100 mt-3 mb-2"></div>
         <div class="col- ml-2 mr-3">
           Estatica  <div name="estatica"class="logo1">
                   <img src="/static/estatica.png">
             </div>
         </div>
         <div class="col- ml-2 mr-2">
           Dinamica  <div name="dinamica"class="logo1 mr-4">
                   <img src="/static/dinamica.png">
             </div>
         </div>
         <div class="col- ml-3 mr-4">
           Electronica  <div name="elect"class="logo1 mr-4">
                   <img src="/static/electronica.png">
             </div>
         </div>
         <div class="col- ml-2 mr-2">
           Programacion  <div name="progra" class="logo1">
                   <img src="/static/programacion.png">
             </div>
         </div>
        <div class="w-100 mt-3 mb-5"></div>
  </div>

</div>
  <input type="submit" class="btn btn-outline-primary text-white" value="Registrarse"/>
</div>
    </div>
    </div>
  </div>
</div>
</section>
</form>
<script>


(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>


</body>
</html>
