body{
	margin: 0;
	padding: 0;
	background: url(fondo.jpg);
	background-size: cover;
	background-position: center;
	font-family: 'Quicksand', sans-serif;
}

.loginbox{

	width: 320px;
	height: 420px;
	background: rgba(0,0,0,1);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	border-radius: 3%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar{
	width: 95px;
	height: 95px;
	border-radius: 75%;
	position: absolute;
	top: -50px;
	left: 115px;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 25px;

}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	display: grid;
	margin-bottom: 20px;
	grid-template-rows: 100px;
}

.loginbox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.button{
	width: 100%;
	display: grid;
	margin-bottom: 25px;
	text-align: center;
	grid-template-rows: 100px;
	underline: none;
	border: none;
	outline: none;
}

.button{
	border: none;
	outline: none;
	height: 30px;
	width: 150px;
	margin-left: 60px;
	background: rgb(88, 143, 254);
	color: #fff;
	font-size: 16px;
	border-radius: 100px;
}

.button:hover{
	cursor: pointer;
	background: rgb(198, 218, 252);
	color: #000;
}

.alumno{
	width: 200px;
	height: 250px;
	background: rgba(0,0,0,0.9);
	color: #fff;
	top: 400px;
	left: 550px;
	position: absolute;
	border-radius: 3%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 50px 37px;
}

.entrar{
	margin-left: 2000px;
}

.avatar_alumno{
	width: 95px;
	height: 95px;
	border-radius: 75%;
	position: absolute;
	top: 130px;
	left: 55px;
}

.avatar_profesor{
	width: 95px;
	height: 95px;
	border-radius: 75%;
	position: absolute;
	top: 130px;
	left: 55px;
}

.profesor{
	width: 200px;
	height: 250px;
	background: rgba(0,0,0,0.9);
	color: #fff;
	top: 400px;
	left: 850px;
	position: absolute;
	border-radius: 3%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 50px 40px;
}
