<html>
<head>
    <title>Registro</title>
    <link rel="icon" type="image\png" href="../static/logo.png">
    <link rel="stylesheet" type="text/css" href="/static/register_alumno.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>@import url('https://fonts.googleapis.com/css?family=Quicksand:700');</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery-3.1.0.min.js"%3E%3C/script%3E'))</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/event.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/supplemental.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/unresolved.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/message.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/number.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/currency.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/date.min.js"></script>

    <script src="https://cdn3.devexpress.com/jslib/18.1.3/js/dx.all.js"></script>
    </head>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top mb-0">
  <div class = "container">
  <a class="navbar-brand text-white" href="/">Terax</a>
  <div class="logo">
        <img src="/static/logo.png">
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/">Menu principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/opciones_de_ingreso">Entrar</a>
      </li>
    </ul>
  </div>
  </div>
  </nav>


<section id="registro" class="registro">
<form action="/doregister_alumno" method="POST" class="needs-validation" novalidate>
  <div class="box">
    <h1>Estudiantes</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="registro-content-right">
              <table class="text-white">
                  <tr>
                      <td>
                          <label for="validationCustom01">Nombres y apellidos:</label>
                           <input type = "text"  class ="username form-control mb-2" id="validationCustom01" name="username" placeholder="Nombres y Apellidos" value="" required>
                          <div class="valid-feedback mb-2">
                              Looks good!
                            </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <label for="validationCustom02">Contraseña:</label>
                        <input type = "password" name="password" class ="password form-control mb-2 mt-1" id="validationCustom02" placeholder="***********" value="" required>
                        <div class="valid-feedback mb-2">
                            Looks good!
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <label for="validationCustom03">Repita la contraseña:</label>
                         <input type = "password" class ="password2 form-control mb-2 mt-1" name="password2" id="validationCustom03" placeholder="***********" value="" required>
                         <div class="invalid-feedback mb-2">
                                 Repita la contraseña porfavor.
                            </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <label for="validationCustom04">Email: </label>
                           <input type = "email" name="email" class ="email form-control mb-2 mt-1" id="validationCustom04" placeholder="*********@gmail.com" value="" required>
                           <div class="invalid-feedback mb-2">
                             Ponga un correo valido.
                             </div>
                      </td>
                  </tr>

                    <tr>
                        <td>
                        <label for="validationCustom05">Direccion: </label>
                         <input type = "text" name="direccion" class ="direccion form-control mb-2 mt-1"  id="validationCustom05" placeholder="Av/Jr/Lt/Psje/Dpto" value="" required>
                         <div class="invalid-feedback mb-2">
                           Por favor, ponga su direccion completa.
                           </div>
                        </td>
                    </tr>
              </table>

        </div>
      </div>
      <div class="col-md-4">
        <div class="registro-content-left mb-5">
          <h2>
              <label for="validationCustom06">Usted se encuentra en: </label></h2>
          <select name ="grado" class="grado" id="validationCustom06" required >
          <option value="" disabled selected hidden>Grado Academico</option>
          <option value="Primaria">Primaria</option>
          <option value="Secundaria">Secundaria</option>
          <option value="Pre">Pre</option>
          <option value="Universitario">Universitario</option>
          <div class="invalid-feedback mb-2">
            Por favor seleccione  un grado Academico.
            </div>
        </select>
        <table class="text-white">
        <tr>
            <td>
               <label for="validationCustom07">Institucion: </label>
                <input type = "text" name="institucion" id="validationCustom07" class="form-control" placeholder="Colegio/Universidad/Pre" value="" required>
                <div class="invalid-feedback mb-2">
                  Por favor seleccione la institucion a la que pertenece.
                  </div>
            </td>
        </tr>
      </table>

      <h2>
          <label for="validationCustom08">Cuantos años tienes: </label></h2>
          <select name ="edad" class="edad" id="validationCustom08">
          <option value="" disabled selected hidden>Edad</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <div class="invalid-feedback mb-2">
            Seleccione su edad.
            </div>
          </select>
      </div>
        <input class="btn btn-outline-secondary" type="submit" value="Registrarse"></input>
    </div>
    </div>
  </div>
</div>
</form>
</section>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
</body>
</html>
